Repository prisma/extension-read-replicas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.yaml": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.ts": ["eslint --fix", "prettier --write"]
}

fix: Correct name in readme, more useful stuff in package.json
  README.md
  package.json
Due: prettier --write

Add Installation instructions to the readme
  README.md
Due: prettier --write

Prettier
  README.md
Due: prettier --write

feat: Work without datasource name
  README.md
  demo/index.ts
  package.json
  pnpm-lock.yaml
  src/ReplicaManager.ts
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

fix(README): Add missing '
  README.md
Due: prettier --write

docs(README): Make limitations a list
  README.md
Due: prettier --write

docs(README): Explain how it works
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

0.2.0
  package.json
Due: prettier --write

fix: Fix esm, migrate to tsup
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/extension.ts
  tests/cjs.js
  tests/esm.mjs
  tests/package.test.ts
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: prettier --write, eslint --fix

0.2.1
  package.json
Due: prettier --write

fix: Ensure that entries in export map point to existing files
  package.json
  tests/package.test.ts
Due: prettier --write, eslint --fix

0.2.2
  package.json
Due: prettier --write

support empty replica list
  src/ReplicaManager.ts
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

throw isntead of silently succeeding
  src/ReplicaManager.ts
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

return this in $primary if in a transaction
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

expose replicas as $replica()
  .envrc
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

fix: `default` should the last key in `exports`
  package.json
Due: prettier --write

chore: remove unnecessary spacing
  package.json
Due: prettier --write

revert change to replica url
  .envrc
Due: none

ci: Add workflow for publishing extension
  .github/workflows/publish.yml
Due: prettier --write

Document `$replica()` method, remove not working `queryRaw` routing
  README.md
  src/extension.ts
Due: prettier --write, eslint --fix

Update .github/workflows/publish.yml
  .github/workflows/publish.yml
Due: prettier --write

Fix formatting
  README.md
Due: prettier --write

fix support for queryRaw(Unsafe)
  src/extension.ts
  tests/extension.test.ts
Due: prettier --write, eslint --fix

add caveat to readme
  README.md
Due: prettier --write

remove change in behavior to use replica for $queryRaw by default
  .envrc
  README.md
  tests/extension.test.ts
Due: prettier --write, eslint --fix

remove test artifact
  .envrc
Due: none

ci(publish.yml): add npm provenance statements
  .github/workflows/publish.yml
Due: prettier --write

Add replica client options
  src/ReplicaManager.ts
  src/extension.ts
Due: prettier --write, eslint --fix

Add test for replica client options
  tests/extension.test.ts
Due: prettier --write, eslint --fix

Fix Readme markdown formatting
  README.md
Due: prettier --write

Formatting
  README.md
Due: prettier --write

support fluent api
  src/extension.ts
Due: prettier --write, eslint --fix

test fluent api usage
  tests/extension.test.ts
  tests/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix: Update github actions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write
